#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  background: rgb(255, 255, 255);
  background: -moz-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(226, 233, 148, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(226, 233, 148, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(226, 233, 148, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e2e994", GradientType=1);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header-content {
  height: 100px !important;
  position: absolute;
  top: 0;
}

nav {
  height: 100px;
}

nav ul {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px;
}

nav ul li {
  text-decoration: none;
  list-style: none;
}

.home-title {
  font-size: 7em;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: -moz-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(226, 233, 148, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(226, 233, 148, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(226, 233, 148, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e2e994", GradientType=1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-text {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.profil {
  min-height: 100vh;
  margin: 40px;
}

.profil p {
  padding-bottom: 40px;
}

.anim-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  align-items: center;
  min-height: 100vh;
}

.head-home {
  background-color: #3f612d;
  width: 100vw;
  margin: 0;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 0 0 90px 90px;
}

.home-box {
  margin: 0 !important;
}

footer {
  height: 100px;
  background-color: #d9bbf9;
}

.header-container {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1000;
}

.menu-icon {
  font-size: 2rem;
  cursor: pointer;
  fill: black;
  color: #030303 !important;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.menu-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: black;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  color: rgb(0, 0, 0);
}

.modal-header h2 {
  color: black !important;
}

.close-btn {
  color: rgb(0, 0, 0) !important;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  height: 100%;
  padding: 40px;
}

.menu-list {
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.menu-list li {
  margin: 15px 0;
}

.menu-list a {
  text-decoration: none;
  color: black !important;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.menu-list a:hover {
  font-weight: bolder;
  font-style: italic;
  padding: 10px;
  color: black;
}

form {
  width: 80%;
  margin: auto;
}

.homeBtn {
  display: flex;
  align-items: center;
}

.homeLink {
  padding: 15px 10px;
  height: auto;
  margin: 10px;
  color: black;
}

.homeLink:hover {
  border: 1px black solid;
  background-color: black;
  color: white;
}

.user-profile-accordion {
  background-color: transparent !important;
}

.user-profile-accordion:hover {
  background-color: transparent !important;
}

.bars-page {
  display: flex;
}

@media (max-width: 768px) {
  .bars-page {
    display: flex;
    flex-direction: column;
  }

  .form-box {
    display: flex;
    flex-direction: column;
  }
}

.form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form-img {
  flex: 1;
  display: flex;
  justify-content: center;
}

.form-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.form-content {
  flex: 1;
  max-width: 600px;
}

.form-content h2 {
  font-size: 3em;
}
.btn-authent:hover {
  border: 1px solid black !important;
}

.notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.notification.success {
  background-color: #4caf50;
  color: white;
}

.notification.error {
  background-color: #f44336;
  color: white;
}

.delete-container {
  min-height: 100vh;

}
.about {
  min-height: 100vh;
  flex-direction: column;
  margin: auto;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}