#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-height: 100vh;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header-content {
  height: 100px !important;
  /* width: 100vw !important; */
  position: absolute;
  top: 0;
}

nav {

  height: 100px;
}

nav ul {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px;
}

nav ul li {

  text-decoration: none;
  list-style: none;
}

.home-title {
  font-size: 7em;

}

.loader-container {
  position: fixed;
  /* Couvre toute la page */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  /* Ajuste la couleur de fond */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  /* S'assure qu'il est au-dessus du header */
}

.loader-text {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.profil {
  min-height: 100vh;
  margin: 0;
}

.anim-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  align-items: center;
  min-height: 100vh;
}

.head-home {
  background-color: #3F612D;
  width: 100vw;
  margin: 0;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.home-box {
  margin: 0 !important;
}

footer {
  height: 100px;
  background-color: #D9BBF9;
}